<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Добавление элементов</title>
</head>
<body>
<h3>Добавление данных:</h3><br>
<h4>Добавление статей:</h4>
<form th:method="POST" th:action="@{/admin/teaching/add}" th:object="${teaching}">
  <legend>
    <label for="headers">Заголовок статьи:</label>
    <input type="text" id="headers" th:field="*{head}"><br><br>
    <label for="description">Содержание статьи:</label>
    <textarea id="description" th:field="*{description}"></textarea><br><br>
  </legend>
  <input type="submit" value="Добавить">
</form>
<br>
<h4>Загрузка файлов картинок:</h4>
<form th:method="POST" th:action="@{/admin/teaching/add}" th:object="${teaching}"action="">
  <input type="file" name="file_one"><br><br>
  <input type="submit" value="Добавить">
</form>
</body>
</html>