<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Администратор</title>
</head>
<body>
<h3>Кабинет администратора</h3>
<a href="/logout"></a>
<form method="post" th:action="@{/logout}">
    <button type="submit">Выйти из ЛК</button>
</form>
<hr>
<h4>Зарегестрированные пользователи:</h4>
<div th:each="user: ${person}">
    <span th:text="${user.getId()}+'    '"></span>
    <span th:text="${user.getName()}+'    '"></span>
    <span th:text="${user.getLogin()}+'    '"></span>
    <span th:text="${user.getPhone()}+'    '"></span>
    <span th:text="${user.getEmail()}+'    '"></span>
    <span th:text="${user.getRole()}+'    '"></span>
    <a th:href="@{/admin/person/delete/{id}(id=${user.getId()})}">Удалить</a>
</div>
<hr>
<br><br>
<h4>Список Отзывов:</h4>
<div th:each="feedback: ${feedbacks}">
    <span th:text="${feedback.getId()}+'         '"></span>
    <span th:text="${feedback.getDescription()}+'         '"></span>
    <span th:text="${feedback.getAproove()}+'         '"></span>
    <span th:text="${feedback.getDateIncome()}+'         '"></span>
    <span th:text="${feedback.getOwner()}+'         '"></span>
    <span th:text="${feedback.getStars()}+'         '"></span>
    <a th:href="@{/admin/feedback/edit/{id}(id=${feedback.getId()})}">Активировать</a>
    <a th:href="@{/admin/feedback/delete/{id}(id=${feedback.getId()})}">Удалить</a>
    <br><br>
</div>
<a href="admin/feedback/add">добавить отзыв</a>
<hr><br>
<h4>Список пакетов:</h4>
<div th:each="package: ${packages}">
    <span th:text="${package.getId()}+'    '"></span>
    <span th:text="${package.getName()}+'   '"></span>
    <span th:text="${package.getPrice()}+'   '"></span>
    <span th:text="${package.getDescription()}+'   '"></span>
    <span th:text="${package.getPointOne()}+'   '"></span>
    <span th:text="${package.getPointTwo()}+'   '"></span>
    <span th:text="${package.getPointThree()}+'   '"></span>
    <span th:text="${package.getPointFour()}+'   '"></span>
    <span th:text="${package.getPointFive()}+'   '"></span>
    <a th:href="@{/admin/package/edit/{id}(id=${package.getId()})}">Редактировать</a>
    <a th:href="@{/admin/package/delete/{id}(id=${package.getId()})}">Удалить</a>
    <br><br>
</div>
<a href="admin/package/add">добавить пакет</a>
<hr><br>
<h4>Список Номеров:</h4>
<div th:each="room: ${rooms}">
    <span th:text="${room.getId()}+'    '"></span>
    <span th:text="${room.getCategory()}+'   '"></span>
    <span th:text="${room.getPrice()}+'   '"></span>
    <span th:text="${room.getBed()}+'   '"></span>
    <span th:text="${room.getDescription()}+'   '"></span>
    <a th:href="@{/admin/room/edit/{id}(id=${room.getId()})}">Редактировать</a>
    <a th:href="@{/admin/room/delete/{id}(id=${room.getId()})}">Удалить</a>
    <br><br>
</div>
<a href="admin/room/add">добавить номер</a>
<hr><br>
</body>
</html>